.carousel {
  padding: 1rem 0 1rem 0;
}
.carousel-indicators li {
  background-color: darkgray;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.demo-video {
  padding: 1rem 0 1rem 0;
}

.members p {
  color: var(--text-color);
  font-family: var(--rokkitt-regular);
}

.tools a {
  color: var(--text-color);
}
.tools a:hover {
  text-decoration: none;
  color: var(--active-color);
}
