.projectTemp {
  visibility: hidden;
}

.project-info {
  padding: 3rem 0 3rem 0;
}
.bg-full {
  position: relative;
}

.bg-full:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100vw;
  background: rgba(196, 196, 196, 0.01);
}
.goal h2 {
  color: var(--title-color);
}
.abstract h2 {
  font-family: var(--playfair-regular);
}

.content h4 {
  font-family: var(--playfair-regular);
  color: var(--active-color);
  font-size: 20px;
}

.content p {
  color: var(--text-color);
}

.abstract span {
  color: var(--active-color);
}
