.site-logo img {
  max-width: 350px;
  max-height: 40px;
}

footer.footer-area {
  padding: 5rem 0;
  /* background: url(../img/footer-bg.png) no-repeat; */
}

footer.footer-area .social h5 {
  font: normal 500 23px/10px var(--pt-serif);
}

footer.footer-area .social a > i {
  font-size: 22px;
  padding: 2rem;
  color: var(--border-color);
}

footer.footer-area .social a:hover > i {
  color: var(--primary-color);
}
