.site-footer {
  display: none;
  background-color: #26272b;
  padding: 20px 0 20px;
  line-height: 24px;
  color: #737373;
}

.site-footer .footer-socials a {
  width: 40px;
  height: 40px;
  line-height: 35px;
  margin-left: 10px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}

.footer-socials {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.footer-socials li {
  display: inline-block;
  margin-bottom: 4px;
}

.footer-socials a {
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@media (max-width: 1180px) {
  .site-footer {
    display: block;
  }
}
