.contactForm-page {
  visibility: hidden;
}
.contact-form {
  padding-top: 2rem;
  /* margin: 0 7rem; */
}

form {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.input-list li {
  list-style: none;
}

label {
  font-family: var(--hind-regular);
  color: var(--title-color);
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(158, 159, 252, 0.3);

  border-radius: 0.25rem;
  margin-top: 6px;
  margin-bottom: 1rem;
  background: transparent;
  outline: none;
  -webkit-appearance: none;
}
textarea {
  height: 150px;
}

input:focus,
textarea:focus {
  border-bottom: 3px solid rgba(158, 159, 252, 1);
}

.send-button {
  margin-top: 1rem;
}

.send-button .button {
  color: #f4f4f4;
  background-color: var(--green-color);
  position: relative;
  overflow: hidden;
  width: 10rem;
}

.send-button .button:hover {
  box-shadow: 1px 1px 25px 10px rgba(106, 124, 60, 0.3);
  color: #f4f4f4;
}

.send-button:focus .button:focus {
  border: none;
}
/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border: 1px solid rgba(158, 159, 252, 0.6);
  -webkit-text-fill-color: var(--title-color);
  -webkit-box-shadow: 0 0 0px 1000px #121212 inset;
  transition: background-color 5000s ease-in-out 0s;
}

@media screen and (max-width: 990px) {
  .contact-form {
    margin: 0 3rem;
  }
}
