@import url(./fonts.css);

* {
  font-family: var(--hind-regular), sans-serif;
  color: var(--text-color);
}

html,
body {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;

  background: var(--background-color);
}
body {
  background: url(../../images/hero.jpg) repeat 50% 50%;
  background-size: cover;
}

.content-container {
  margin-bottom: 3rem;
}
h1,
h2 {
  font-family: var(--playfair-regular);
  color: var(--title-color);
}
h2 {
  padding: 2rem 0 2rem 0;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

/* CSS variables */
:root {
  --background-color: #121212;
  --title-color: #f4f4f4;
  --active-color: #9e9ffc;
  --inactive-color: #808080;
  --text-color: #b3b3b3;

  /* font family variables. */
  --playfair-regular: "playfair-regular";
  --rokkitt-regular: "rokkitt-regular";
  --hind-regular: "hind-regular";
  --theScientist: "theScientist";
}
