.hobbies {
  visibility: hidden;
}
.hobbies-content {
  padding-top: 2rem;
}
.hobbies-content a {
  text-decoration: none;
  color: var(--active-color);
}
.hobbies-content p {
  font-size: 17px;
  color: var(--inactive-color);
  text-align: justify;
  text-justify: inter-word;
}
